# Checks BiaPy code consistency

name: Create macOS binary

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  run:
    runs-on: macos-14
    # runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "pip" # caching pip dependencies
        
    - name: Installing BiaPy-GUI dependencies
      run: pip install -r requirements.txt
      
    - name: Creating macOS binary
      run: |
        cp dist-macOS/main.spec main.spec
        pyinstaller main.spec

    - name: Enable debug logging
      run: echo "ACTIONS_STEP_DEBUG=true" >> $GITHUB_ENV

    - name: Upload public folder to Google Drive
      uses: Jodebu/upload-to-drive@master
      with:
        credentials: ${{ secrets.DRIVE_CREDENTIALS }}
        target: dist
        folder: ${{ secrets.FOLDER_FOR_NEW_BINARIES }}
