# Checks BiaPy code consistency

name: Create Windows binary

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  run:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "pip" # caching pip dependencies
        
    - name: Installing BiaPy-GUI dependencies
      run: pip install -r requirements.txt
      
    - name: Creating Linux binary
      run: |
        cp dist-win/main.spec main.spec
        pyinstaller.exe main.spec

    - name: Enable debug logging
      run: echo "ACTIONS_STEP_DEBUG=true" >> $GITHUB_ENV

    - name: Upload public folder to Google Drive
      uses: codetheweb/upload-to-google-drive-forked@v1.3.0
      with:
        credentials: ${{ secrets.DRIVE_CREDENTIALS }}
        target: dist/BiaPy.exe
        folder: ${{ secrets.FOLDER_FOR_NEW_BINARIES }}
