# Checks BiaPy code consistency

name: Create Linux binary

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  run:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "pip" # caching pip dependencies

    - name: Install Qt/X11 runtime deps
      run: |
        sudo apt-get update
        sudo apt-get install -y libxcb-shape0 libxcb-keysyms1 libxcb-render-util0 \
                              libxcb-icccm4 libxkbcommon-x11-0 libxcb-image0 \
                              libxcb-xkb1 libxcb-cursor0

    - name: Installing BiaPy-GUI dependencies
      run: pip install -r requirements.txt
      
    - name: Creating Linux binary
      run: |
        cp dist-linux/main.spec main.spec
        pyinstaller main.spec

    - name: Check dist folder contents
      run: |
        echo "== dist tree =="
        ls -R dist || true
        
    - name: Upload public folder to Google Drive
      uses: Jodebu/upload-to-drive@master
      with:
        credentials: ${{ secrets.DRIVE_CREDENTIALS }}
        target: dist/BiaPy
        folder: ${{ secrets.FOLDER_FOR_NEW_BINARIES }}